node_modules/
dist/
build/
artifact/*
!artifact/.gitkeep

android/.gradle/
android/app/build/
android/build/
*.apk
*.aab

native-ios/*.xcodeproj/
native-ios/*.xcworkspace/
native-ios/DerivedData/

*.log
*.ipa
